*{
    margin: 0;
    padding: 0;
}

:root {
    --base-color: #EF9500;
}

body{
    background-color: #E1E1E1;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.First_Menu{
    background-color: white;
    width: 100%;
    height: 70px;
}

.First_Menu img{
    width: 100px;
}

.fixe{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.Layout_Container .First_Menu ul{
    display:flex;
    list-style: none;
    justify-content: end;
    gap: 20px;
    padding: 20px;
    margin-right: 80px;
}

.Layout_Container .First_Menu ul li{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.First_Menu ul li:first-child{
    position: absolute;
    left: 100px;
}

.First_Menu ul li:nth-child(4){
    border-left: 1px solid black;
    padding-left: 3px;
    height: 20px;
}

.First_Menu ul li:nth-child(5) {
    font-weight: bold;
    border-left: 1px solid black;
    padding-left: 3px;
    height: 20px;
}

.First_Menu ul li:nth-child(6) {
    font-weight: bold;
    text-decoration: underline;
}

.active{
    background-color: #EF9500;
}
.Second_Menu ul li a{
    color: white;
    text-decoration: none;
}


.First_Menu input[type="text"]{
    width: 350px;
    margin-top: -2px;
}

#decal{
    padding-left: 3px;
}

#search{
    position: relative;
    right: 30px;
}

.Second_Menu{
    background-color: #1E1E1E;
}
.Layout_Container .Second_Menu ul{
    display: flex;
    list-style: none;
    justify-content: start;
    gap: 40px;
    padding: 10px;
    margin-right: 80px;
    color: white;
    margin-left: 80px;
}

.Layout_Container .Second_Menu ul li{
    font-size: 12px;
    padding: 10px;
}

.active{
    background-color: #EF9500;
}

.First_Menu ul li:hover{
    color: rgb(242, 146, 1);
    cursor: pointer;
}

.Second_Menu ul li:hover{
    color: rgb(242, 146, 1);
    cursor: pointer;
}

.Second_Menu ul li:last-child{
    position: absolute;
    right: 100px;
    background-color: rgb(242, 146, 1);
    padding: 20px;
    top: 70px;
    color: white; 
}

.Section_Slider img{
    height: 500px;
    width: 100%;
    margin-top: 125px;
}
/* Fin Section Menu------------- */

/* -----------------Debut Section Categorie----------- */
.img {
    background-color: #dfdcd7;
    height: 300px;
    display: flex;
    gap: 50px;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.image {
    background-color: whitesmoke;
    width: 230px;
    min-width: 100px;
    height: 230px;
    justify-content: start;
    justify-items: start;
    border-radius: 10px;
    margin-top: 40px;
    /* overflow: hidden;  */
}

.image img {
    width: 150px;
    margin-left: 35px;
}

.image div {
    width: 300px;
    height: 190px;
    /* overflow: hidden; */
}

.image p {
    text-align: center;
}

.m_v_categorie {
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 11%;
    padding-top: 24px;
    font-size: 22px;
    align-self: start;
}

.m_v_categorie span{
    position: relative;
    left: 30px;
    font-size: initial;
    text-decoration: underline;
}

/* 
img {
    width: 150%;
} */
/* -----------------Fin Section Categorie----------- */

/*----------------- Debut css Top Model--------------- */

main {
    margin: auto;
    background-color: #dfdcd7;
    width: 90%;
    min-width: 900px;
    height: vh;
    margin-top: 10px;
}


.ventes {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.m-v {
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 5%;
    padding-top: 24px;
    font-size: 22px;
    align-self: start;
    border-radius: 10px;
}

.m-v span {
    position: relative;
    left: 30px;
    font-size: initial;
    text-decoration: underline;
    border-radius: 10px;
}

.ventes-elements {
    flex: 1;
    width: 91%;
    height: 100px;
    margin-bottom: 80px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    margin-left: 20px;
    border-radius: 10px;
}

.ventes-slides {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.v-s-elements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    /* padding: 20px;/ */
}

.v-elements {
    flex: 1;
    height: 310px;
    flex-direction: column;
    background-color: var(--base-color);
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
}

.v-elements:first-child {
    margin-left: 0;
}

.v-elements:last-child {
    margin-right: 0;
}

.v-e-separate {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.v-e-s-2 {
    background-color: white;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.t-s-text {
    background-color: white;
    padding: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.t-s-text span {
    font-weight: 400;
    font-size: 12px;
}

.image-slide img {
    width: 140px;
    height: 170px;
}


.prices-promo {
    display: flex;
    font-weight: 14px;
}

.prices-promo p {
    margin: 12px;
}

.prices-promo p:first-child {
    color: gray;
    text-decoration: line-through;

}

.prices-promo p:nth-child(2) {
    font-weight: 700;
    
}

.prices-promo p:last-child {
    color: rgb(0, 0, 0);
    border: 1px solid black;
    padding: 0 5px;
    font-weight: 500;
}

.p-b {
    background-color: black;
    color: white;
    padding: 8px;
    width: 90px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
    margin-left: -50px;
    
}

.ventes-by-now {
    background-color: rgb(199, 199, 199);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------------- Fin css Top Model--------------- */





/*----------- Debut Section Reduction---------- */
.reduction1 {
    background-color: #EF9500;
    width: 90%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* margin-top: 40px; */

}

.promo1 {
    display: flex;
    justify-content: space-between;
}

.promo1 button {
    width: 150px;
    height: 55px;
    font-size: 11px;
    margin-top: 15%;
    margin-right: 40px;
    background-color: white;
    /* border: 3px; */
}

.img1 {
    width: 50px;
    height: 40px;
    margin-right: 50px;
    margin-left: 10%;
    /* margin-top:9%; */
}

.promo1 h3 {
    margin-right: 100px;
    margin-top: 50px;
    font-size: 50px;
}

.promo1 h3 p {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    margin-top: 5px;
}

/*----------- Fin Section Reduction---------- */


/* --------Debut divison section card -------------*/
.Card {
    display: flex;
    justify-content: center;
}

.slide1 {
    width: 260px;
    height: 320px;
    background-color: white;
    border-radius: 5px;
    margin-left: 20px;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    margin-top: 20px;
}

.slide1 img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 30px;
}

.slide1 p {
    text-align: center;
}

.prix {
    display: flex;
}

.slide1 .titre {
    color: white;
    border: 1px solid black;
    background-color: black;
    position: absolute;
    top: 170px;
}

.slide1 input {
    border: 1px solid black;
    width: 120px;
    height: 20px;
    border-radius: 10px;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slide1 input::placeholder {
    text-align: center;
}

.Reseaux_Sociau {
    display: flex;
    justify-content: center;
}

.Reseaux_Sociau i {
    padding-left: 7px;
}

.shop {
    background-color: black;
    color: white;
    width: 70px;
    margin: 0 auto;
    padding: 5px;
}

.slide1 p {
    font-weight: bold;
}

.CardTitre {
    display: flex;
    margin-left: 70px;
}

.CardTitre h4 {
    margin-right: 30px;
    font-size: 20px;
}

/* --------Fin divison section card -------------*/







/* -------Debut Section Footer---------- */
.footer {
    width: 100%;
    height: 300px;
    background-color: #1E1E1E;
    /* background-color:#610707; */
    margin-top: 50px;
}

.footerElement {
    display: flex;
    justify-content: space-around;
    /* justify-content: space-between; */
    padding: 50px;
    /* color: black; */
    color: white;
}

.newsletter, input {
    height: 30px;
    width: 200px;
    border: 1px solid black;
}

.newsletter input,placeholder{
    font-size: 12px;
    color: #EF9500;
}


.inscrire {
    /* display: inline-block; */
    height: 34px;
    background-color: #EF9500;
    color: white;
    margin-right: 100px;
    border: 1px solid #EF9500;
}

.Logo i {
    color: white;
    width: 15px;
    height: 15px;
}

/* -------Fin Section Footer---------- */

















